@model int
<li class="social-media">
    <div class="menu">
        <div id="sharebutton" class="btn trigger">
            <i class="fa fa-share-alt" data-toggle="modal" data-target="#exampleModalCenter" data-post-id-share="@Model"></i>
        </div>
    </div>
</li>
